[Unit]
Description=Sunshine streaming via headless Sway
After=sway-sunshine.service
Requires=sway-sunshine.service

[Service]
Type=simple
Environment=WAYLAND_DISPLAY=wayland-1
Environment=SWAYSOCK=/run/user/1000/sway-sunshine.sock
Environment=XDG_SESSION_TYPE=wayland
Environment=XDG_CURRENT_DESKTOP=sway
Environment=__GL_GSYNC_ALLOWED=0
Environment=__NV_PRIME_RENDER_OFFLOAD=1
Environment=__VK_LAYER_NV_optimus=NVIDIA_only
UnsetEnvironment=__EGL_VENDOR_LIBRARY_FILENAMES
ExecStartPre=/bin/sleep 2
ExecStart=/usr/bin/sg input -c /usr/bin/sunshine
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
